{% extends "base.html"%}
{% block content %}

<br>
<br>
<div class="aboutus" style = "color:white">
        <div style="background-color: blue; margin-bottom: 55px;">
            <h1 style="text-align:center;color:white; font-size:80px">Our Team</h1>
      </div>
      <div class="container">
        <div class="person">
            <img src="../static/ravi2.jpg" alt="Samin" style="max-width:40%; max-height:80%">
            <div class="description">
              <h1>Samin Sarwar</h1>
              <br>
              <h4>Front-End Dev</h4>
              <ul>
                  <li>Brooklyn Technical Student</li>
                  <li>Boxer</li>
                  <li>Lifter</li>
                  <li><a href="https://github.com/samins05">Github</a></li>
              </ul>
            </div>
           </div>
          <div class="person">
              <img src="../static/nav.jpg" alt="Eshaan">
              <div class="description">
                <h1>Eshaan Nair</h1>
                <br>
                <h4>Back-End Dev</h4>
                <ul>
                    <li>Nav</li>
                    <li>Cool </li>
                    <li>Ex-PHP Programmer (:</li>
                    <li><a href="mailto: nair.eshaan@gmail.com ">Email Me!</a></li>
                    <li><a href="https://github.com/eshaann">Follow Github Please</a></li>
                </ul>
              </div>
             </div>

                </div>
                <br>
{% endblock %}
